<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/login" class="simple-text">
                    Telos Management Portal
                </a>
                <a href="/login" class="simple-text">
                    天羅科技管理平台
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/meetingManagement">
                        <i class="pe-7s-graph"></i>
                        <p>MEETING MANAGEMENT<br>
                            會議管理
                        </p>
                    </a>
                </li>

                <li  class="active">
                    <a href="/accountManagement">
                        <i class="pe-7s-user"></i>
                        <p>OWNER's ACCOUNT</p>
                        <p>業主賬戶管理</p>
                    </a>
                </li>

                <li >
                    <a href="/searchMeetings">
                        <i class="pe-7s-folder"></i>
                        <p>MEETINGS
                            <br> 會議
                        </p>
                    </a>
                </li>

                <li >
                    <a href="/accountApproval">
                        <i class="pe-7s-star"></i>
                        <p>ACCOUNT APPROVAL
                            <br> 會議
                        </p>
                    </a>
                </li>
                <li>
                    <a href="/estateManagement">
                        <i class="pe-7s-star"></i>
                        <p>ESTATES MANAGEMENT
                            <br> 會議
                        </p>
                    </a>
                </li>
                <li>
                    <a href="/contractorlist">
                        <i class="pe-7s-graph"></i>
                        <p>CONTRACTOR & SUPPLIERS<br>
                            會議管理
                        </p>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <i class="pe-7s-map-marker"></i>
                        <p>LOG OUT
                            <br>
                            登出</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">ACCOUNT MANAGEMENT/賬戶管理</a>
                </div>
                <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>

        <div class="content" style="padding-bottom:0; min-height:800px">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">SEARCH USER</h4>
                            </div>
                            <div class="content">
                                <form method="post" enctype="multipart/form-data" action="/searchUser">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>住戶賬戶 | OWNER'S ACCOUNT</label>
                                                <input type="text" class="form-control" placeholder="Title" name="estateName" required="true">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- YOUR WORK HERE -->

                                    <input type="hidden" name="floor_info" id="floor_info"/>
                                    <button type="submit" class="btn btn-info btn-fill pull-right">SEARCH</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                       <br>
                        <div class="card">
                            <div class="header">
                                <h4 class="title">SEARCH ESTATE</h4>
                            </div>
                            <div class="content">
                                <form method="post" enctype="multipart/form-data" action="/generateAccount" id="estateForm">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>住戶賬戶 | Estate</label>
                                                <input type="text" class="form-control" id="esName" value="" placeholder="Estate" name="esName">
                                                <div id="alertMessage"></div>
                                            </div>

                                            <div class="form-group" id="xcel" style="display:none">
                                                <label>File | 議程</label>
                                                <input type="file" name="file"  style="border-radius: 4px;" id="fileValue"/>
                                            </div>
                                    </div>
                                {{!-- <! -- accept="application/vnd.ms-excel" --> --}}
                                        </div>
                                    <!-- YOUR WORK HERE -->
                                    <input type="hidden" name="floor_info" id="floor_info"/>
                                    <button type="submit" class="btn btn-info btn-fill pull-right" id="searchEstate">SEARCH</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="card" style="height: 300px;max-height: 106%;">
                            <div class="header">
                                <h4 class="title text-center">住戶信息 | OWNER’S INFORMATION</h4>
                            </div>
                            {{#if searchResult}}
                            {{#each searchResult as |value resident_key|}}
                            <div class="content">
                                <form method="post" enctype="multipart/form-data" action="/updateOwnersResults">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12">
                                            <div class = " button-save pull-right" id="btn_{{resident_key}}"></div>
                                        </div>
                                    </div>
                                        <div class="row">
                                             <div class="col-lg-4 col-md-4">
                                                    <div class="form-group">
                                                        <label>NAME</label>
                                                        <input type="hidden" name="id" value={{_id}} >
                                                         <input type="text" id={{resident_key}}  class="form-control hide-input" placeholder="Name" name="name" value={{name}} disabled="true">
                                                    </div>
                                            </div>

                                            <div class="col-lg-8 col-md-8">
                                                <div class="form-group" >
                                                    <label>Password</label>
                                                    <input type="password" id={{resident_key}}  class="form-control hide-input" placeholder="password" name="password" value={{password}} disabled="true">
                                                </div>
                                            </div>
                                     </div>
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2">
                                            <div class="form-group" >
                                                <label>Shares</label>
                                                <input type="text" id={{resident_key}} class="form-control hide-input" placeholder="Shares" name="shares" value={{shares}} disabled="true">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="form-group" >
                                                <label>HKID URL</label>
                                                <input type="text" id={{resident_key}} class="form-control hide-input" placeholder="HKID Url" name="hkidUrl" disabled="true" value={{HKIDUrl}} >
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-lg-6">
                                            <div class="form-group">
                                                <label>DIGITAL SIGNATURE URL</label>
                                                 <input type="text" id={{resident_key}} class="form-control hide-input" placeholder="Digital Signature Url" name="digitalSignatureUrl" disabled="true" value={{digitalSignature}} >
                                            </div>
                                        </div>
                                    </div>

                                    <input type="hidden" name="floor_info" id="floor_info"/>
                                    <button type="button" class="btn btn-info btn-fill pull-right edit-button" id={{resident_key}}>EDIT</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                            {{/each}}
                            {{/if}}
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div>
        </footer>

    </div>
</div>
<script type="text/javascript">
$(document).ready(function () {
    $('.edit-button').click(function(event) {
        console.log(event.target.id)
        $(`input[id=${event.target.id}]`).prop('disabled', false);
        $(`input[id=${event.target.id}]`).removeClass('hide-input');
        $(`#btn_${event.target.id}`).html('')
        $(`#btn_${event.target.id}`).append(`<button type="submit" class="btn btn-info btn-fill pull-right" name="save" id=${event.target.id}>編輯住戶 | Edit Owner</button>`)
         console.log(event.target.id)
    })

    $('#searchEstate').click(function(event){
       event.preventDefault()
       var estateName = $('#esName').val();
       var file = $('#fileValue')[0].files[0];
       var message = 'The field is required';
       var html = '';
       if(file) {
         if(estateName == ''){
           html = '<p>'+message+'</p>';
           $('#alertMessage').append(html);
         } else {
           var search = searchEstate(estateName)
           if(search){
             $("#estateForm").submit();
             $("#estateForm")[0].reset();
           }
         }
       } else {
         if(estateName == ''){
           html = '<p>'+message+'</p>';
           $('#alertMessage').append(html);
         } else {
           searchEstate(estateName)
         }
       }
    })
})

function searchEstate(estateName){
    var status = true;
    $.post("/searchEstate",{esName: estateName},function(data, status){
         if(data.success){
            $('#xcel').css('display','none')
            $('#searchEstate').text('SEARCH')
            alert('Estate name already exist');
            status = false
         } else {
            $('#xcel').css('display','')
            $('#searchEstate').text('UPLOAD')
         }
    });
    return status
}


</script>
