<meta http-equiv="content-type" content="text/plain; charset=UTF-8"/>
<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/login" class="simple-text">
                    Telos Management Portal
                </a>
                <a href="/" class="simple-text">
                    天羅科技管理平台
                </a>
            </div>

            <ul class="nav">
                <li >
                    <a href="/meetingManagement">
                        <i class="pe-7s-graph"></i>
                        <p>MEETING MANAGEMENT<br>
                            會議管理
                        </p>
                    </a>
                </li>

                <li >
                    <a href="/accountManagement">
                        <i class="pe-7s-user"></i>
                        <p>OWNER's ACCOUNT</p>
                        <p>業主賬戶管理</p>
                    </a>
                </li>

                <li>
                    <a href="/searchMeetings">
                        <i class="pe-7s-folder"></i>
                        <p>MEETINGS
                            <br> 會議
                        </p>
                    </a>
                </li>

                <li class="active">
                    <a href="/estateManagement">
                        <i class="pe-7s-star"></i>
                        <p>ESTATES MANAGEMENT
                            <br> 會議
                        </p>
                    </a>
                </li>
                               <li >
                    <a href="/accountApproval">
                        <i class="pe-7s-star"></i>
                        <p>ACCOUNT APPROVAL
                            <br> 會議
                        </p>
                    </a>
                </li>
                <li>
                    <a href="/contractorlist">
                        <i class="pe-7s-graph"></i>
                        <p>CONTRACTOR & SUPPLIERS<br>
                            會議管理
                        </p>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <i class="pe-7s-map-marker"></i>
                        <p>LOG OUT
                            <br>
                            登出</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">ESTATE MANGEMENT/會議管理</a>
                </div>
                <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6" style="margin-left: -24px;">
              <div class="container row page-wrapper custom_wrapper" style="min-height: 0%;width: 90%;">
                <h2>Reported Posts</h2>
                <p>Describes No. of Reported posts</p>
                <button id="select_all_posts" class="btn">Select All</button>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="text-center"></th>
                      <th class="text-center">No</th>
                      <th class="text-center">Post</th>
                    </tr>
                  </thead>
                  <tbody>
                   {{#each reportedPost as |value post_key|}}
                    <tr>
                      <td>
                        <input type="checkbox"  id="commentCheck{{comment_key}}" class="ads_Checkbox2" name="selector[]" value="{{_id}}">
                      </td>
                      <td class="text-center">{{post_key}}</td>
                      <td class="text-center">{{postReport}}</td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
                <div>
                {{#if reportedPost.length}}
                  <button class="btn btn-primary pull-right"  type="button" onclick="removePost()">Remove</button>
                {{/if}}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="container row page-wrapper custom_wrapper" style="min-height: 0%;width: 90%;">
                <h2>Reported Comments</h2>
                <p>Describes No. of Reported comments</p>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="text-center"></th>
                      <th class="text-center">No</th>
                      <th class="text-center">Comment</th>
                    </tr>
                  </thead>
                  <tbody>
                    <button id="select_all_comments" class="btn">Select All</button>
                   {{#each reportedComment as |value comment_key|}}
                    <tr>
                      <td>
                        <input type="checkbox"  id="commentCheck{{comment_key}}" class="ads_Checkbox" name="selector[]" value="{{_id}}">
                      </td>
                      <td class="text-center">{{comment_key}}</td>
                      <td class="text-center">{{commentReport}}</td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
                <div>
                  {{#if reportedComment.length}}
                   <button class="btn btn-primary pull-right"  type="button" onclick="removeComment()">Remove</button>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="content" style="padding-bottom:0; min-height:800px">

        </div>

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div>
        </footer>
    </div>
</div>
<div id="excelTable"></div>
<div id="floor_model" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

    </div>
</div>

<script type="text/javascript">
   $(document).ready(function () {
        $("#select_all_posts").click(function () {
            $(".ads_Checkbox2").attr('checked', true);
        });
         $("#select_all_comments").click(function () {
            $(".ads_Checkbox").attr('checked', true);
        });
    });
  var reposts = []
  var recomment = []
  function removeComment(){
      var recomment = [];
      $('.ads_Checkbox:checked').each(function(i){
        var id = $(this).val();
        recomment.push(id);
      });
      if(recomment.length > 0){
        $.post("/reportedComments", { recomment: JSON.stringify(recomment) }, function(data, status) {
            if (data.success) {
                location.reload();
            }
        });
      } else {
        alert("Please select comment")
      }
  }

  function removePost(){
    var reposts = [];
    $('.ads_Checkbox2:checked').each(function(i){
      var id = $(this).val();
      reposts.push(id);
    });
    if(reposts.length > 0){
      $.post("/reportedPosts", { repost : JSON.stringify(reposts) }, function(data, status) {
          if (data.success) {
              location.reload();
          } else {
          }
      });
    } else {
      alert("Please select post")
    }
  }


</script>
