<meta http-equiv="content-type" content="text/plain; charset=UTF-8"/>
<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/login" class="simple-text">
                    Telos Management Portal
                </a>
                <a href="/" class="simple-text">
                    天羅科技管理平台
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="/meetingManagement">
                        <i class="pe-7s-graph"></i>
                        <p>MEETING MANAGEMENT<br>
                            會議管理
                        </p>
                    </a>
                </li>

                <li >
                    <a href="/accountManagement">
                        <i class="pe-7s-user"></i>
                        <p>OWNER's ACCOUNT</p>
                        <p>業主賬戶管理</p>
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <i class="pe-7s-map-marker"></i>
                        <p>LOG OUT
                            <br>
                            登出</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">MEETING MANGEMENT/會議管理</a>
                </div>
                <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>

        <div class="content" style="padding-bottom:0; min-height:800px">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">SEND YOUTUBE LINK</h4>
                            </div>
                            <div class="content">
                                <form method="post" enctype="multipart/form-data" action="/sendYouTubeLink">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>選擇屋苑 | SELECT ESTATES</label>
                                                <select class="form-control" id="estateYoutube" name="estateYoutube">
                                                    <option value="" selected hidden>Select Estate</option>
                                                    {{#each Estate as |value estate_key|}}
                                                    <option value="{{estate_key}}">{{estateName}}</option>
                                                    {{/each}}
                                                </select>   
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>選擇會議 | SELECT MEETINGS</label>
                                                <select class="form-control" id="meetingYoutube" name="meetingYoutube">
                                                    <option value="">Select Meeting</option>
                                                </select> 
                                            </div>
                                        </div>
                                    </div>
                                      <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>YouTube 鏈接 | YouTube LINK</label>
                                                <input type="text" class="form-control" placeholder="YOUTUBE" name="youtubeLink">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- YOUR WORK HERE -->
                                
                                    <input type="hidden" name="floor_info" id="floor_info"/>
                                    <button type="submit" class="btn btn-info btn-fill pull-right">發送 | Send</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card" style="height: 450px;">
                            <div class="header">
                                <h4 class="title">UPDATE POLL RESULTS</h4>
                            </div>
                            <div class="content">
                                <form method="post" enctype="multipart/form-data" action="/updatePolls">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>選擇屋苑 | SELECT ESTATE</label>
                                                <div id="estate"></div>
                                                 <select class="form-control" id="estatePoll" name="estatePoll">
                                                 <option value="" selected hidden>Select Estate</option>
                                                 {{#each Estate as |value estate_key|}}
                                                    <option value="{{estate_key}}">{{estateName}}</option>
                                                    {{/each}}
                                                </select> 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>選擇會議 | SELECT MEETINGS</label>
                                                 <select class="form-control" id="meetingPoll" name="meetingPoll">
                                                    <option value="">{{title}}</option>
                                                </select>    
                                            </div>
                                            <div class="pollFileModal"></div>
                                        </div>
                                    </div>
                                    <!-- YOUR WORK HERE -->
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group pollModal">
                                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class ="pollValue" ></div> 
                                    </div>
                                    <div class="row">                             
                                    <div class="form-group upload-btn-wrapper">
                                        <label>Agenda | 議程</label>
                                        <div class="documents_wrapper1">
                                            <input type="file" name="file" accept="application/pdf" style="border-radius: 4px;" id="fileValue"/>      
                                        </div>
                                        
                                    </div>
                                    </div>    
                                    <div class="row">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-info btn-fill btnupload pull-right" >上傳 | Upload</button>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <iframe id="my_iframe" style="display:none;"></iframe>
                                </form>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-12">
                       <div class="card">
                            <div class="header">
                                <h4 class="title"> <span id="upcomingMeeting"> ALL UPCOMING MEETINGS </span> / <span id="pastMeeting"> PAST MEETING </span></h4>
                            </div>
                                <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th> PROXY FORMS</th>
                                        <th>POLL END TIME</th>
                                        <th>MEETING START TIME</th>
                                        <th>ESTATE NAME</th>
                                        <th>MEETING TITLE</th>
                                        <th>MEETING STATUS</th>
                                        <th></th>
                                    </thead>
                                    <tbody class="tableCtrl">
                                   {{#each upcomingData as |value meeting_key|}}
                                        <tr>
                                            <td>  <a href="/" id="{{meeting_key}}" class="btn btn-info btn-fill generate-Proxy">GENERATE</a> </td>
                                            <td>{{pollEndTime}} | {{pollTime}}</td>
                                            <td>
                                             {{startTime}}
                                            </td>
                                            <td>{{estate}}</td>
                                           <td> {{title}} | {{titleChn}}</td> 
                                           <td>{{status}}</td>                                  
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>

                            </div>
                        </div>    
                    </div>
                </div>

            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div>
        </footer>
    </div>
</div>
<div id="excelTable"></div>
<div id="floor_model" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        
    </div>
</div>
<script type="text/javascript">
$(document).ready(function () {
    console.log({{{stringify Estate}}})
    var data = '{{{stringify Estate}}}'
    var newdata = JSON.parse(data);
    $('#estateYoutube').change(function() {
        var eState = $(this).val()
        const meeting = newdata[eState].currentMeetings
        $("#meetingYoutube option").remove();
        $("#meetingYoutube").append('<option value="">'+'Select Meeting'+'</option>');
         if(eState){
            //$("#meetingYoutube").val(eState);
             $.each(meeting, function(key,item){  
                $("#meetingYoutube").append('<option value='+item._id+'>'+item.title+'</option>');
            })
         }
    });
    var meeting = ''
    $('#estatePoll').change(function() {
        var eState = $(this).val()
        var estateName = newdata[eState].estateName
        //eState = JSON.stringify(eState)
        console.log(eState)
        console.log('newdata...', newdata)
         meeting = newdata[eState].currentMeetings.concat(newdata[eState].pastMeetings);
         console.log(meeting, 'meeting')
        $("#meetingPoll option").remove();
        $("#estate").append(`<input type="hidden" name="estateName" value=${estateName}>`);
        $("#meetingPoll").append('<option value="">'+'Select Meeting'+'</option>');
         if(eState){
            //$("#meetingYoutube").val(eState);
            $.each(meeting, function(key,item){  
                $("#meetingPoll").append('<option value='+key+'>'+item.title+'</option>');
            })
         }
    });
    var selectedMeeting = ''
    $('#meetingPoll').change(function(event) {
        $(".downloadPoll").remove();
        console.log('change', $(this).val(), meeting)
        const value = $(this).val()
         selectedMeeting = meeting[value]
         console.log(selectedMeeting, "selectedMeeting")
         var Dnbtn = '<button type="button" class="btn btn-info btn-fill downloadPoll">發送 | Download Poll Results</button>'
        var Upbtn = '<button type="button" class="btn btn-info  btn-fill pollModel">更新投票結果 | Update Poll</button>'
        $(".pollModal").html('');
        $(".pollModal").append(Upbtn, selectedMeeting);
         $(".pollFileModal").append(Dnbtn, selectedMeeting);
    })

    //edit poll model
    
    function poll_modal(blockdata, selectedMeeting){
        console.log(selectedMeeting, "selectedMeeting", blockdata)
            var html = '<div class="modal-content ModelStyle" style="padding: 10px;">' +
                            '<div class="modal-header">' +
                                '<h4 class="modal-title">更新投票結果 | Update Poll Results</h4>'+
                            '</div>'  
                                    for(i=0; i< selectedMeeting.polls.length; i++){
                                        html = html + 
                                        '<div class="modal-body">' +
                                    '<h6>'+selectedMeeting.polls[i].pollNameChn+' | '+selectedMeeting.polls[i].pollName+'</h6>'+
                                    '<div class="poll">' +
                                    '<input type="hidden" name="id" value='+selectedMeeting.polls[i]._id+' >' + '</div>' 
                                        for(j=0; j< selectedMeeting.polls[i].options.length; j++){
                                            html = html +
                                            '<div class="col-md-12 '+selectedMeeting.polls[i]._id+'">' +
                                            '<div class="form-group voting_opt ">'+
                                                '<label style="margin-right: 25px; width: 120px; float:left; padding-left: 30px; padding-top:5px;">是 | '+selectedMeeting.polls[i].options[j]+':</label>'+
                                                '<input type="text" class="form-control" style="height:30px; float:left; width:100px; border-radius:0; border:0.5px solid #ccc;" id='+selectedMeeting.polls[i].options[j]+' style="width: 30%; display: inline;" name="option" required/>'+
                                               ' <div class="fortrail">% </div>'+
                                            '</div>' + '</div>'
                                        }
                                        html = html +
                                    '<div>'+    
                                '</div>'+'</div>'
                             }
                        html = html  +
                            '<div class="modal-footer" style="border-top: 0px solid; margin-top: 25px;">' +
                            '<button type="button" class="btn btn btn-danger btn-fill CancelBtn" id="cancel1">取消 | Cancel</button>' +
                             '<button type="button" class="btn btn btn-info btn-fill ConfirmBtn" id="cancel">確定 | Confirm</button>'+ 
                            '</div>';
                        return html;
        }
    
    
    $(document).on('click','.downloadPoll',function(event){
        console.log('download file')
    $("#excelTable").html('');
     var  estatePoll = $("select[name=estatePoll]").val();
     var  meetingPoll = $("select[name=meetingPoll]").val();
     var html = '<table id="excelFile" style="width:100%">'+
                    '<tr>'+
                        '<th>Poll name</th>'+
                        '<th>Option</th>' +
                        '<th>VotedBy</th>' +
                        '<th>Shares</th>' +
                    '</tr>';
        const HostName = "http://localhost:3000"
      $.ajax(HostName+'/WriteExcellFile', {
                  type: 'POST',
                  data: JSON.stringify(selectedMeeting),
                  contentType: 'application/json',
                 beforeSend: function() { 
                    var html = '<img id="theImg" class ="loader" src= "assets/img/load.gif "/>'
                      $("#loading").append(html);
                      $("#submit").prop('disabled', true); // disable button
                    }, 
                    success:function(data){
                        console.log(data, "dta")
                        window.open("data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet," + escape(data.xls))
                         //res.download('data.xls');
                        console.log(data, "data")
                       var html = ''
                      $("#loading").append(html);
                      $("#submit").prop('disabled', false); 
                      //location.reload(); // enable button
                    },
                  error  : function() { console.log('error');}
            });       
     /* $.each(selectedMeeting.polls, function(key1, data1){
        console.log(data1)
        var votedUser = ''
        var shares = ''
         $.each(data1.voted, function(key1, voted){
            shares = voted.shares
            if(votedUser == ''){
                votedUser = voted.name
            }else{
                votedUser = voted.name +', '+ voted.name
            }
         })
        html = html +
                    '<tr>'+
                        '<th>'+data1.pollName+'</th>'+
                        '<th>'+data1.finalResult+'</th>' +
                        '<th>'+votedUser+'</th>' +
                        '<th>'+shares+'</th>' +
                    '</tr>';

      })
      html = html + '</table>'
      console.log(html, "html")
      $("#excelTable").append(html);
      $("#excelFile").table2excel({  
                    //exclude: ".noExl",
                    name: "PollFile",
                    filename: selectedMeeting.title,
                    //fileext: ".xlsx",
                   /* exclude_img: true,
                    exclude_links: true,
                    exclude_inputs: true*/
          //  }); */
    
    })
    $(document).on('click','.pollModel',function(event){
            var modeldata = '';
            var modelhtml = poll_modal(modeldata, selectedMeeting);
                $("#floor_model .modal-dialog").html(modelhtml);
                $("#floor_model").modal();
          }) 
    var poll = []
    $(document).on('click','.CancelBtn',function(event){
        $("#floor_model").modal('hide');
    })
    $(document).on('click','.ConfirmBtn',function(event){
        
        $.each($(".poll :input[name*='id']"), function(data1, key1){
            var id = $(this).val()
            let options=[]
            let dataVal = $("."+id).find(".voting_opt :input[name*='option']")
            console.log(dataVal)
            $.each(dataVal, function(data, key){    
                options.push({choice: $(this).attr('id') , percentage: $(this).val()})
            })
            poll.push({id: id, options: options})
            console.log(poll, "poll")
        })
        poll = JSON.stringify(poll)
        var html = `<input type="hidden" name="polls" value=${poll} />` 
          $('.pollValue').append(html)
            
            $("#floor_model").modal('hide');
    })
    //upcoming Meeting
    $(document).on("click", "#upcomingMeeting", function (event) {
        console.log({{{stringify upcomingData}}})
        const upcomingnewData = '{{{stringify upcomingData}}}'
        var upcomingData = JSON.parse(upcomingnewData)
        console.log(upcomingData)
        $('.tableCtrl tr').remove();
        $('#upcomingMeeting').css('color', 'Blue');
        $('#pastMeeting').css('color', 'Black');
        var html = '' 
        for(var i=0; i<upcomingData.length; i++){
        html = html + '<tr>'+
                        '<td><a href="/generateProxyForms" class="btn btn-info btn-fill">GENERATE</a></td>'+
                        '<td>'+upcomingData[i].pollEndTime+' | '+upcomingData[i].pollTime+'</td>'+
                        '<td>'+upcomingData[i].startTime +
                        '<td>'+upcomingData[i].estate+'</td>'+
                        '<td> '+upcomingData[i].title+ " | " + upcomingData[i].titleChn+'</td>'+ 
                       '<td>'+upcomingData[i].status+'</td>'+     
                       '</tr>';
                }
                       $('.tableCtrl').append(html);
    })
    //past Meeting
    $(document).on("click", ".generate-Proxy", function (event) {
        event.preventDefault();
        console.log(event.target.id, "event")
        const upcomingnewData = '{{{stringify upcomingData}}}'
        var upcomingData = JSON.parse(upcomingnewData)
        console.log(upcomingData[event.target.id], "dd")
        const HostName = "http://localhost:3000"
             $.ajax(HostName+'/generateProxyForms', {
                  type: 'POST',
                  data: JSON.stringify(upcomingData[event.target.id]),
                  contentType: 'application/json',
                 beforeSend: function() { 
                    var html = '<img id="theImg" class ="loader" src= "assets/img/load.gif "/>'
                      $("#loading").append(html);
                      $("#submit").prop('disabled', true); // disable button
                    }, 
                    success:function(data){ 
                       var html = ''
                      $("#loading").append(html);
                      $("#submit").prop('disabled', false); 
                      location.reload(); // enable button
                    },
                  error  : function() { console.log('error');}
            });
    })
    $(document).on("click", "#pastMeeting", function (event) {
        $('.tableCtrl tr').remove();
        $('#pastMeeting').css('color', 'Blue');
        $('#upcomingMeeting').css('color', 'Black');
        const pastnewData = '{{{stringify pastData}}}'
        var pastData = JSON.parse(pastnewData)
        var html =''
        for(var i=0; i<pastData.length; i++){
        html = html + '<tr>'+
                        '<td><a href="/generateProxyForms" class="btn btn-info btn-fill">GENERATE</a></td>'+
                        '<td>'+pastData[i].pollEndTime+' | "'+pastData[i].pollTime+' </td>'+
                        '<td>'+pastData[i].startTime+' </td>'+
                        '<td>'+pastData[i].estate+'</td>'+
                        '<td> '+pastData[i].title+' | '+pastData[i].titleChn+'</td>'+ 
                       '<td>'+pastData[i].status+'</td>'+     
                       '</tr>';
                }
                        $('.tableCtrl').append(html);
    })

    
})
</script>

