<style>
.search-wrapper {
    width: 75%;
    margin: 10px;
    padding: 0;
    float: right;
}

.search-wrapper input {
    background: transparent url(../assets/img/search-ic.svg);
    /* border: 1px solid #e4d8d8; */
    /* color: #000; */
    width: 100%;
    height: 41px;
    padding: 12px 15px 12px 55px;
    -webkit-transition: all 0.7s ease 0s;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: 12px;
}
</style>
<div class="wrapper">
    <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/login" class="simple-text">
                  Telos Management Portal
              </a>
                <a href="/login" class="simple-text">
                  天羅科技管理平台
              </a>
            </div>
            <ul class="nav">
                <li>
                    <a href="/meetingManagement">
                      <i class="pe-7s-graph"></i>
                      <p>MEETING MANAGEMENT<br>
                          會議管理
                      </p>
                  </a>
                </li>
                <li>
                    <a href="/accountManagement">
                      <i class="pe-7s-user"></i>
                      <p>OWNER's ACCOUNT</p>
                      <p>業主賬戶管理</p>
                  </a>
                </li>
                <li class="active">
                    <a href="/searchMeetings">
                      <i class="pe-7s-folder"></i>
                      <p>MEETINGS
                          <br> 會議
                      </p>
                  </a>
                </li>

                <li>
                    <a href="/estateManagement">
                        <i class="pe-7s-star"></i>
                        <p>ESTATES MANAGEMENT
                            <br> 會議
                        </p>
                    </a>
                </li>

                <li>
                    <a href="/logout">
                      <i class="pe-7s-map-marker"></i>
                      <p>LOG OUT
                          <br>
                          登出</p>
                  </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header" style="width: 100%;">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Meetings | 會議</a>
                    <div class="search-wrapper">
                        <input type="text" class="form-control input-lg text-left pull-right" id="searchEs" value="" placeholder="Search Estate" onchange="searchEstate()">
                    </div>
                </div>
                <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>
<div class="container row page-wrapper custom_wrapper">
  <h2>All Estates Data</h2>
  <p>Describes No. of Meetings , Surveys & Forums in a Estate</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="text-center">Estate Name</th>
        <th class="text-center">Upcoming Meetings</th>
        <th class="text-center">Past Meetings</th>
        <th class="text-center">Surveys</th>
        <th class="text-center">Forum Posts</th>
      </tr>
    </thead>
    <tbody>
     {{#each estateData as |value estate_key|}}
      <tr>
        <td class="text-center">{{estateName}}</td>
        <td class="text-center">{{currentMeetingCount}}</td>
        <td class="text-center">{{pastMeetingCount}}</td>
        <td class="text-center">{{surveyCount}}</td>
        <td class="text-center">{{postCount}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
        <div id="customMainComponent" class="row page-wrapper custom_wrapper">
            <div id="sidebarMenu" class="side-menu">
                <nav class="navbar navbar-default" role="navigation">
                    <!-- Main Menu -->
                    <div class="side-menu-container">
                        <ul class="nav navbar-nav sidebar-nav">
                            <li class="panel panel-default" id="dropdown">
                                <a data-toggle="collapse" href="#dropdown-lvl1" class="dropdown-list up-meeting" style="    border-bottom: 1px solid #e7e7e7;">
                                    <span>Upcoming Meetings | 近期會議</span>
                                    <span class="sidebar-rt-arrow">
                                        <i id="ispan" class="fa fa-angle-right right-arrow-add" style="font-size:27px;"></i>
                                    </span>
                                </a>
                                <div id="dropdown-lvl1" class="panel-collapse collapse in">
                                    <div class="custome-panel-body panel-body">
                                        <ul class="nav navbar-nav" role="tablist">
                                            {{#each meetingsData}} {{#if @key}}
                                            <li role="presentation">
                                                {{else}}
                                                <li role="presentation" class="active">
                                                    {{/if}}
                                                    <a class='meeting_li' href="#tab_{{_id}}" aria-controls="home" id="{{@key}}" role="tab" data-toggle="tab">{{title}} | {{titleChn}}</a>
                                                </li>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="panel panel-default panel-shadow" id="dropdown2">
                                <a data-toggle="collapse" href="#dropdown-lvl2" class="dropdown-list down-meeting" style="border-bottom: 1px solid #e7e7e7;box-shadow: none;">
                                    <span>Past Meetings | 過往會議</span>
                                    <span class="sidebar-rt-arrow ">
                                        <i id="ispan2" class="fa fa-angle-right" style="font-size:27px;"></i>
                                    </span>
                                </a>
                                <div id="dropdown-lvl2" class="panel-collapse collapse ">
                                    <div class="panel-body">
                                        <ul class="nav navbar-nav" role="tablist">
                                            {{#each pastMeetingsData}}
                                            <li role="presentation">
                                                <a class='past-meeting' href="#tab_{{_id}}" aria-controls="home" role="tab" data-toggle="tab" id="{{@key}}">{{title}} | {{titleChn}}</a>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>
                <br/>
            </div>
            <!-- Main Content -->
            <div class="custom_scroll_wrap">
                <div class="tab-content tab-wraper side-bar tls-wrapper">
                    <div class="content-header">
                        <div class="row">
                            <div class="col-lg-5">
                                <h3 id="heading3">Upcoming Meeting <br>  近期會議</h3>
                            </div>
                            <div id="headingBottom" class="col-lg-7">
                                <!-- <div class="meeting-btn add-meeting-btn">
                               <a href="/addMeeting" class="btn btn-primary">  Add a Meeting | 添加會議</a>
                            </div> -->
                                <div id="headingBottom2">
                                </div>
                                <p id="endhour"> </p>
                            </div>
                        </div>
                    </div>
                    {{#each meetingsData as |value meeting_key|}} {{#if @key}}
                    <div role="tabpanel" class="tab-pane" id="tab_{{_id}}">
                        {{else}}
                        <div role="tabpanel" class="tab-pane active" id="tab_{{_id}}">
                            {{/if}}
                            <div class="div-wrapper">
                                <div class="tls-content-box">
                                    <div class="clearfix"></div>
                                    <div id="loader2"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="div-wrapper">
                                <div class="tls-content-box">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        {{#each polls}}
                                        <div class="panel panel-default" style='box-shadow:-5px 6px 9px -8px #888888;margin-left: 1%;margin-right: 1%;'>
                                            <a role="button" data-toggle="collapse" style='color:black' data-parent="#accordion" href="#poll_{{_id}}" aria-expanded="true" aria-controls="collapseOne">
                                            </a>
                                            {{#if @key}}
                                            <div id="poll_{{_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                {{else}}
                                                <div id="poll_{{_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                    {{/if}}
                                                    <div class="panel-body">
                                                    </div>
                                                </div>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/each}} {{#each pastMeetingsData as |value meeting_key|}} {{#if @key}}
                            <div role="tabpanel" class="tab-pane" id="tab_{{_id}}">
                                {{else}}
                                <div role="tabpanel" class="tab-pane" id="tab_{{_id}}">
                                    {{/if}}
                                    <div class="div-wrapper">

                                    </div>
                                    <div class="div-wrapper">
                                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                            {{#each polls}}
                                            <div class="panel panel-default" style='box-shadow:-5px 6px 9px -8px #888888; margin-left: 20px; margin-right: 20px'>

                                                {{#if @key}}
                                                <div id="poll_{{_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                    {{else}}
                                                    <div id="poll_{{_id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                                        {{/if}}

                                                    </div>
                                                </div>
                                                {{/each}}
                                            </div>
                                        </div>
                                        <br/>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                        <footer class="footer">
                            <div class="container-fluid">
                                <nav class="pull-left">
                                    <ul>
                                        <li>
                                            <a href="#">
                                Home
                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                Company
                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                Portfolio
                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                Blog
                            </a>
                                        </li>
                                    </ul>
                                </nav>
                                <p class="copyright pull-right">
                                    &copy;
                                    <script>
                                    document.write(new Date().getFullYear())
                                    </script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                                </p>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
          </div>
      </div>

  <script type="text/javascript">
    var tableData= `{{{stringify estateData}}}`
    if(tableData != ''){
    tableData = JSON.parse(tableData)
    }
    console.log(tableData, "tableData")
      function searchEstate() {
        var estateName = $('#searchEs').val();
        $.post("/searchMeetings", { estateName: estateName }, function(data, status) {
            if (data) {
                console.log(data, "datatata")
                $('#customMainComponent').html(data)
            } else {
              $('#customMainComponent').html('<p>'+data.message+'</p>')
            }
        });
    }

    function hd() {
        var hd = $("#customMainComponent").height()
        $("#sidebarMenu").css({ "min-height": hd })
    }
    $(document).ready(function() {
        const HostName = window.location.origin

        hd();
        $("body").delegate(".flatpickr", "focusin", function() {
            $(this).flatpickr({
                enableTime: true,
            });
            const html = `<p class="close-calendar">Confirm | 確認</p>`;
            $(".flatpickr-calendar").append(html);
            $(".close-calendar").click(function() {
                $(".flatpickr-calendar").removeClass("open", 1000, "easeInBack");
            })
        });
        $(".panel-heading").click(function() {
            setTimeout(() => { hd(); }, 500)
        })
        var tabSelected = localStorage.getItem("tab");
        if (tabSelected) {
            var tabDiv = localStorage.getItem("divTab");
            var a = 'a[id=' + tabSelected + ']';
            var a0 = 'div[id=' + tabDiv + ']';
            var a1 = "li[class='active']";
            var a2 = "div[class='active']";
            $("div.active").removeClass('active')
            $(a1).removeClass()
            $(a).parent().addClass('active');
            $(a0).addClass('active');
            localStorage.removeItem("tab");
            localStorage.removeItem("divTab");
        }

        $(".delete_meeting").click(function(event) {
            event.preventDefault();
            const id = event.target.id
            var originalData = `{{{stringify meetingsData}}}`;
            originalData = JSON.parse(originalData);
            console.log(originalData[id])
            var m = new Date(originalData[id].startTime);
            var diff = m - new Date()
            var seconds = diff / 1000;
            var minutes = (diff / 1000) / 60;
            var hours = minutes / 60;
            var one_day = 1000 * 60 * 60 * 24;
            console.log(diff, one_day)
            ShowCustomDialog2("Are you sure you want to delete this meeting? | 確定刪除會議 ？", originalData[id]._id)
            localStorage.removeItem("tab");
            localStorage.removeItem("divTab");
        })

        function convertSerializeArrayToJson(serilizeArray) {
            var form_json = {};
            serilizeArray.forEach(function(obj) {
                form_json[obj.name] = obj.value;
            });
            return form_json;
        }
        var originalData = `{{{stringify meetingsData}}}`;
        if (originalData != '') {
            originalData = JSON.parse(originalData);
        }
        $('.meeting_li').click(function(event) {
            $('.save_meeting').hide()
            $('#heading3').text('Upcoming Meeting | 近期會議')
            var html = ''
            $('#headingBottom2').html('')
            var id = event.target.id
            var ids = 'tab_' + originalData[id]._id;
            localStorage.setItem("tab", id);
            localStorage.setItem("divTab", ids);
            var firstDate = new Date(originalData[id].pollEndTime);
            console.log(originalData[id], "idsss")
            var secondDate = new Date();
            var diff = firstDate - secondDate;
            var seconds = diff / 1000;
            var minutes = (diff / 1000) / 60;
            var hours = minutes / 60;
            var one_day = 1000 * 60 * 60 * 24;
            var days = (diff / one_day).toFixed();
            console.log(days, "days")
            if (days < 0) {
                days = 0;
            }
            days = 'Days remaining to edit or delete polls | 剩下的時間可以取消或修改投票: ' + days + ' 天';
            $("#endhour").text(days)
        })
        $('.past-meeting').click(function(event) {
            var data = `{{{stringify pastMeetingsData}}}`
            data = JSON.parse(data)
            $('.save_meeting').hide()
            $('#heading3').text('Past Meetings | 過往會議')
            $("#endhour").text('')
            var html = ''
            $('#headingBottom2').html('')
            html = `<a href=${data[event.target.id].pollReport} download="pollReport"><button class="btn btn-primary headingbtn dwn-btn download-btn"  type="button" id= "dwn-btn">Download Poll Report | 下載投票報告</button> </a>`
            $('#headingBottom2').append(html)
        })

        $(".up-meeting").click(function(event) {
            var add = $("#ispan").hasClass("right-arrow-add");
            if (add) {
                $("#ispan").removeClass("right-arrow-add");
            } else {
                $("#ispan").addClass("right-arrow-add");
            }

        })
        $(".down-meeting").click(function(event) {
            var add = $("#ispan2").hasClass("right-arrow-add");
            if (add) {
                $("#ispan2").removeClass("right-arrow-add");
            } else {
                $("#ispan2").addClass("right-arrow-add");
            }

        })

        $(".delete_poll_btn").on('click', function(event) {
            var parentId = event.target.parentElement.id;
            var childId = event.target.id;
            var originalData = `{{{stringify meetingsData}}}`;
            originalData = JSON.parse(originalData);
            var poll = originalData[parentId].polls[childId]
            const data = {}
            data.meetingId = originalData[parentId]._id
            data.pollId = originalData[parentId].polls[childId]._id
            var m = new Date(originalData[parentId].startTime)
            var diff = m - new Date()
            var one_day = 1000 * 60 * 60 * 24;
            var pollTime = new Date(originalData[parentId].pollEndTime)
            var diffPoll = pollTime - new Date()
            diffPoll = (diffPoll / one_day)
            console.log(diffPoll, "difffffffff")
            if ((diff / one_day).toFixed() < 7 || (diff / one_day).toFixed() == 7 || diffPoll < 0) {
                ShowCustomDialog1('您無法刪除投票 | you are not allowed to delete the poll, Poll Time has ended.')
                event.preventDefault()
            } else {
                const HostName = window.location.origin
                $.ajax({
                    url: HostName + "/deletePoll",
                    data: data,
                    type: 'POST',
                    success: function(data) {
                        location.reload()
                    },
                    err: function(err) {
                        console.log(err)
                    }
                });
            }
        })
        //
        $("#close_model2").click(function(event) {
            $("#poll2").modal("hide");
            $(".add_pole").prop('disabled', true);
            $.each($(".voting_opt :input[name*='option']"), function(data, key) {
                options1.push($(this).val())
            });
            var newArray = options1.filter(function(v) { return v !== '' });
            newArray = jQuery.unique(newArray)
            $(".voting_opt").append('<input type ="hidden" name="options" value="' + newArray + '"/>')
            index1 = index1 + 1
            var html = '<img id="theImg" class ="meeting-loader" alt="Telos Technology" src= "assets/img/load.gif " />'
            $("#loader2").append(html);
        })

        $("#close_model").click(function() {
            //optionEdit=[]
            var optionEdit = []
            $.each($(".voting_opt1 :input[name*='option1']"), function(data, key) {
                optionEdit.push($(this).val())
            });
            var newArray = optionEdit.filter(function(v) { return v !== '' });
            newArray = jQuery.unique(newArray)
            var html = '<img id="theImg" class ="meeting-loader" alt="Telos Technology" src= "assets/img/load.gif " style="    margin-left: 194px;"/>'
            $("#loader3").append(html);
            $(".voting_opt1").append('<input type ="text" name="options" value="' + newArray + '" hidden>')
            $("#poll").modal("hide");

        })
        var optionWrapper1 = $(".voting_opt1"); //Fields wrapper
        var add_option_button1 = $(".add_field_button1"); //Add button ID
        $(add_option_button1).click(function(e) { //on add input button click
            e.preventDefault();
            $(optionWrapper1).append('<div class="input_div tls-Vot-box"><input class="pull-left tls-Voting-options" placeholder="E.g. Yes/是" type="text" name="option1"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
        });
        var docWrapper = $(".documents_wrapper")
        var add_document_button = $(".add_documents");
        var index = 0
        $(add_document_button).click(function(e) { //on add input button click
            e.preventDefault();
            $(docWrapper).append(`<div style="padding-bottom: 10px;"><input type="file" name=${index} class=" fileValue" style ="width: 50%; display: inline;" id="fileValues" value=""  accept="application/pdf"/><a href="#" class="remove_field">Remove</a></div>`); //add choose file box
            index = index + 1
        });

        var optionWrapper = $(".voting_opt"); //Fields wrapper
        var add_option_button = $(".add_field_button"); //Add button ID
        var index1 = 1
        var options1 = []

        $(add_option_button).click(function(e) { //on add input button click
            e.preventDefault();
            $(optionWrapper).append('<div class="input_div tls-Vot-box"><input type="text" class="pull-left tls-Voting-options" name="option"/><a href="#" class="remove_field">Remove</a></div>'); //add input box

        });

        $(document).on("click", ".remove_field", function(e) { //user click on remove text
            e.preventDefault();
            $(this).parent('div').remove();
        })
        var removedFilepolls = []
        $('.documents_wrapper').on("click", ".remove_file", function(e) {
            //user click on remove text
            e.preventDefault();
            $(this).parent('div').remove();
            var name = $(this).parent('div').attr('name');
            removedFilepolls.push(name)
            $('.added_files').append(`<input type = "hidden" name="removedfiles" value=${removedFilepolls}>`)
        })

        function edit_popup(data) {
            var html = '<div class="div-wrapper" style="padding: 10px;">' +
                '<h3 class= "heading">' + "Upcoming Meeting | 近期會議" + '</h3>' + '                                        <button class=" btn btn-danger deleteMeeting deletebtn btn-danger" type="submit" id={{data._id}} data-id={{data._id}} data-time="">Delete Meeting | 取消會議</button>' + '<hr>' +

                '                                <form role="form" enctype="multipart/form-data" name="edit_meeting_popup" id="edit_meeting_popup" action="/editMeeting" method="post">' +
                '                                    <div class="form-group col-sm-6">' +
                '                                        <label class=""> Meeting Title </label>' +
                '                                        <input name="meeting_id" type="hidden" value="' + data._id + '">' +
                '                                        <input id ="title" type="text" class="form-control input_fields" name="title" value="' + data.title + '">' +
                '                                        <label class="">會議標題</label>' +
                '                                        <input id ="titleChn" type="text" class="form-control input_fields" name="titleChn" value="' + data.titleChn + '">' +
                '                                        <div id="" class=""></div>' +
                '                                    </div>' +
                '                                    <div class="form-group col-sm-6 text-right">' +
                '                                    </div>' +
                '                                    <div class="clearfix"></div>' +
                '                                    <div class="form-group col-sm-6">' +
                '                                        <label class=""> Meeting Summary </label>' +
                '                                        <textarea id ="" type="text" name="meetingSummary" class="form-control input_fields_" >' + data.meetingSummary + '</textarea>' +
                '                                        <div id="" class=""></div>' +
                '' +
                '                                    </div>' +
                '                                    <div class="form-group col-sm-6">' +
                '                                        <label class=""> 會議概要</label>' +
                '                                         <textarea id ="" type="text" name="meetingSummaryChn" class="form-control input_fields_" >' + data.meetingSummaryChn + '</textarea>' +
                '                                        <div id="" class=""></div>' +
                '' +
                '                                    </div>' +
                '                                    <div class="form-group col-sm-6">' +
                '                                        <label class=""> Meeting Start Time | 會議開始時間</label>' +
                '                                        <input id ="" type="text" name="start_time" class="flatpickr datetimepicker form-control input_fields_" value="' + data.startTime + '">' +
                '                                        <div id="" class=""></div>' +
                '' +
                '                                    </div>' +
                '                                    <div class="form-group col-sm-6">' +
                '                                        <label class="">Meeting End Time | 會議結束時間</label>' +
                '                                        <input id =""  type="text" name="end_time" class="flatpickr datetimepicker form-control input_fields" value="' + data.endTime + '">' +
                '                                        <div id="" class=""></div>' +
                '' +
                '                                    </div>' +
                '                                    <div class="clearfix"></div>' +
                '                                    <div class="form-group col-sm-6">' +
                '                                        <label class="">Venue | 地點</label>' +
                '                                        <input t id ="" type="text" class="form-control input_fields" name="venue" value="' + data.venue + '">' +
                '                                        <div id="" class=""></div>' +
                '                                    </div>' +
                '                                   <div id="removedfiles">' + '</div>' +
                '                                    <div class="form-group col-sm-6">' +
                '                                        <label class="">Agenda | 議程</label>';
            if (data.fileLinks[0]) {
                html = html + '<table class="table table-bordered table_custom_Wrapper">' +
                    '                                            <tr>' +
                    '                                                <th>' +
                    '                                                    <label>ID</label>' +
                    '                                                </th>' +
                    '                                                <th>' +
                    '                                                    <label>Document name</label>' +
                    '                                                </th>' +
                    '                                            </tr>' +
                    '                                            <tr>' +
                    '                                                <td id="hide1">1</td>' +
                    '<input name="fileLinks" type="hidden" value="' + data.fileLinks[0].name + '">' +
                    '                                                <td id="hide">' + data.fileLinks[0].name + '                                        <button  class="remove_file removebtn" type="button" id="' + data.fileLinks[0].name + '"> X </button>' +
                    '</td>' +
                    '                                            </tr>' +
                    '                                        </table>';
            } else {
                html = html + '<div class = "add" id= "addAgenda">' + '<input name="fileField" id ="addFile" type="file" class="form-control input_fields />' + '</div>';
            }
            html = html + '<div class = "add" id= "addAgenda">' + '<input name="fileField" id ="addFile" type="file" class="form-control input_fields />' + '</div>' +
                '                                    </div>' +
                '                                    <div class="clearfix"></div>' +
                '                                        <button  class=" btn save_meeting savebtn" type="submit" data-id=""> Save | 儲存</button>' +
                '                                        <button  class="btn cancel_meeting savebtn" type="button" data-id="">Cancel | 取消</button>' +
                '                                </form>' +
                '                            </div>';


            return html;
        }
        $(document).on('click', '.edit_meeting1', function(event) {
            event.preventDefault();
            var data = originalData[event.target.id]
            var modelhtml = edit_popup(originalData[event.target.id]);

            $("#edit_model .modal-dialog").html(modelhtml);
            $("#edit_model").modal();
            $('#addFile').hide()
        })
        $(document).on('click', '.remove_file', function(event) {
            event.preventDefault();
            var removedfile = event.target.id
            var html = '<input type="hidden" name="removedfiles" value="' + removedfile + '"/> '
            $('#removedfiles').append(html)
            $('#hide').hide()
            $('#hide1').hide()
            $('#addFile').show()
        })

        $(document).on('click', '.cancel_meeting', function(event) {
            $("#edit_model").modal('hide');
        })
        $(document).on('click', '.save_meeting', function(event) {
            $("#edit_model").modal('hide');
            var html = '<img id="theImg" alt="Telos Technology" class ="meeting-loader" src= "assets/img/load.gif " style="    margin-left: 194px;"/>'
            $("#loading1").append(html);
            $(".edit_meeting1").prop('disabled', true);
            var meetingform = $("#edit_meeting_popup").serializeArray();
            var meetingData = convertSerializeArrayToJson(meetingform);

        });

        $('.add_pole').click(function(event) {
            const id = event.target.id
            var originalData = `{{{stringify meetingsData}}}`;
            originalData = JSON.parse(originalData);
            console.log(originalData[id])
            var m = new Date(originalData[id].startTime);
            var diff = m - new Date()
            var seconds = diff / 1000;
            var minutes = (diff / 1000) / 60;
            var hours = minutes / 60;
            var one_day = 1000 * 60 * 60 * 24;
            var pollTime = new Date(originalData[id].pollEndTime)
            var diffPoll = pollTime - new Date()
            diffPoll = (diffPoll / one_day)
            console.log(diff, one_day)
            if ((diff / one_day).toFixed() < 7 || (diff / one_day).toFixed() == 7 || diffPoll < 0) {
                ShowCustomDialog1('您無法增加投票 | you are not allowed to add the poll, Poll Time has ended.')
                event.preventDefault()
            } else {
                $("#poll2").modal();
                var html = '<input type="hidden" name="meeting_id" value="' + originalData[id]._id + '"/> '
                $("#poll2 .formlabel").append(html);
            }
        })

        $('#dropdown ul>li').click(function() {
            $('#dropdown2 ul>li').removeClass('active');
        });
        $('#dropdown2 ul>li').click(function() {
            $('#dropdown ul>li').removeClass('active');
        });
        var optionEdit = []
        $('.edit_pole_button').click(function(event) {
            var parentId = event.target.parentElement.id;
            var childId = event.target.id;
            var originalData = `{{{stringify meetingsData}}}`;
            originalData = JSON.parse(originalData);
            var poll = originalData[parentId].polls[childId]
            var lastDate = new Date(originalData[parentId].startTime)
            var meeting_title = originalData[parentId]._id
            var diff = lastDate - new Date()
            var seconds = diff / 1000;
            var minutes = (diff / 1000) / 60;
            var hours = minutes / 60;
            var one_day = 1000 * 60 * 60 * 24;
            var pollTime = new Date(originalData[parentId].pollEndTime)
            var diffPoll = pollTime - new Date()
            diffPoll = (diffPoll / one_day)
            console.log((diff / one_day), "diff")
            if ((diff / one_day).toFixed() < 7 || (diff / one_day).toFixed() == 7 || diffPoll < 0) {
                ShowCustomDialog1('您無法更改投票 | you are not allowed to edit the poll, Poll Time has ended.')
                event.preventDefault()
            } else {

                $('#editpoll_form')[0].reset();
                //$('.documents_wrapper1').reset();
                $("#poll").modal();
                $("#meeting_title").val(meeting_title);
                $("#title").val(poll.pollName);
                $("#id").val(poll._id);
                $("#title_chinese").val(poll.pollNameChn);
                $("#project_name").val(poll.projectName);
                $("#project_name_chinese").val(poll.projectNameChn);
                $("#summary").val(poll.summary);
                $("#summary_chinese").val(poll.summaryChn);
                $(".voting_opt1 :input[name*='option']").remove();
                $(".voting_opt1 .remove_field").remove();
                var optionWrapper = $(".voting_opt1");
                $.each(poll.options, function(index, value) {
                    $(optionWrapper).append('<div class="input_div tls-Vot-box"><input class="pull-left tls-Voting-options" type="text" value="' + value + '" name="option1"/><a href="#" class="remove_field">Remove</a></div>');
                });
                $('.added_files').html('');
                $.each(poll.fileLinks, function(index, value) {
                    $('.added_files').append('<div name="' + value.name + '"><input type="hidden" value="' + value.name + '" name="fileLinks" readonly/><span style="padding-right: 10px;">' + value.name + '</span><a href="#" class="remove_file removebtn"> Remove </a></div>');
                });

            }
        });

        function ShowCustomDialog1(data) {
            ShowDialogBox1('Warning', data, 'Ok', 'GoToAssetList', null);
        }

        function ShowDialogBox1(title, content, btn1text, functionText, parameterList) {
            var btn1css;
            var btn2css;
            if (btn1text == '') {
                btn1css = "hidecss";
            } else {
                btn1css = "showcss";
            }
            $("#lblMessage1").html(content);
            $("#dialog1").dialog({
                resizable: false,
                title: title,
                modal: true,
                width: '400px',
                height: 'auto',
                bgiframe: false,
                stack: true,
                buttons: [{
                    text: btn1text,
                    "class": btn1css,
                    click: function() {

                        //$("#dialog1").dialog('close');
                        $(this).dialog("close");
                    }
                }, ]
            });
        }

        function ShowCustomDialog2(data, id) {
            ShowDialogBox2('Warning', data, 'Ok', 'GoToAssetList', null, id);
        }

        function ShowDialogBox2(title, content, btn1text, functionText, parameterList, id) {
            const meeting_id = id
            var btn1css;
            var btn2css;
            if (btn1text == '') {
                btn1css = "hidecss";
            } else {
                btn1css = "showcss";
            }
            $("#lblMessage2").html(content);
            $("#dialog2").dialog({
                resizable: false,
                title: title,
                modal: true,
                width: '400px',
                height: 'auto',
                bgiframe: false,
                stack: true,
                buttons: [{

                        text: btn1text,
                        "class": btn1css,
                        click: function(event) {
                            $.ajax({
                                url: HostName + "/deleteMeeting",
                                data: { meetingId: meeting_id },
                                type: 'POST',

                            })
                            $(this).dialog("close");
                            var html = '<img id="theImg" alt="Telos Technology" class ="meeting-loader" src= "assets/img/load.gif " style="    margin-left: 194px;"/>'
                            $("#loader").append(html);
                            location.reload()

                        }
                    },
                    {
                        text: "Cancel",
                        "class": btn1css,
                        click: function(event) {
                            $(this).dialog("close");

                        }
                    },
                ]
            });
        }

        /* $(".custom_scroll_wrap").mCustomScrollbar();*/
    });
    </script>
